@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Song+Myung&display=swap');
*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Song Myung', serif;
  scroll-behavior: smooth;
}

.footer {
  margin-top: 45%;
  position: absolute;
}
body{
  background-image: url(../image/background.png);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;}

header .logo {max-width: 120px;}
header .toggle {max-width: 120px;
                cursor: pointer;}
header .logo img,
header .toggle img{
  max-width: 70%
}

.banner
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  background-image: url(../image/bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.banner .content
{
  max-width: 550px
}
.banner .content h2
{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4em;
  letter-spacing: 0.1em;
  color: #000;
}
.banner .content h2 span{
  font-weight: 800;
}
.banner .content p
{
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 2em;
  color: #000;
  margin: 15px 0 35px;
}
a:-webkit-any-link {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  color: #000;
    cursor: pointer;
    text-decoration: none;
     font-size: 1.2em;
     text-transform: uppercase;
     font-weight: 500;

}
.play{
 position: relative;
 display: inline-flex;
 justify-content: flex-start;
 align-items: center;
 color: #000;
 text-transform: uppercase;
 font-weight: 500;
 text-decoration: none;
 letter-spacing: 2px;
 font-size: 1.2em;
 text-decoration: none;
}
.play img
{
 margin-right: 10px;
 max-width: 50px
}
.sci{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sci li{
  list-style: none;
  margin-top: 20px;
}
.sci li a
{
  text-decoration: none;
}
.sci li a img{
  max-width: 50%;
}
.slide
{
  position: absolute;
  bottom: 50px;
  left: calc(50% - 250px / 2);
  width: 250px;
  height: 150px;
  background: url("../image/1.png");
  background-size: cover;
  cursor: pointer;
  animation: animate 20s linear infinite;
}
@keyframes animate
{
  0%,100%
  {
    background-position: top;
  }
  45%,55%
  {
    background-position: bottom;
  }
}
.trailer
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10000;
  background: rgba(0, 0, 0,0.95);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.trailer.active
{
  visibility: visible;
  opacity: 1;
}
.trailer iframe
{
  max-width: 900px;
  outline: none;

}
.trailer .close
{
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  filter: invert(1);
  max-width: 32px;
}
.album{
  margin:0;
  display: flex;
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100%;
  flex-wrap: wrap;

}
.gallery{
  display: flex;
  flex-wrap: wrap;

}
.gallery .image{
  padding: 15px;
  width: calc(50% /3);
}
.gallery .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img{
  width: 100%;
  vertical-align: middle;
  transition: all 0.3s ease;
}
.gallery .image:hover img{
  transform: scale(1.1);
}


@media (max-width: 991px)
{
  header
  {
    padding: 20px 50px;
  }
  header
  {
    padding: 20px 50px;
  }
  header .logo
  {
    max-width: 80px;
  }
  header .toggle
  {
    max-width: 40px;
  }
  .banner
  {
    padding: 100px 50px;
  }
  .banner .content h2
  {
    font-weight: 400;
    font-size: 2em;
    letter-spacing: 0.05em;
  }
  .banner .content p
  {
    font-size: 1em;
  }
  .slide
  {
    position: relative;
    bottom: initial;
    left:0;
    width:250px;
    height: 150px;
    margin: 20px 0;
  }
  .sci
  {
    position: absolute;
    top: initial;
    margin-top: 50px;
    transform: translateY(-50px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .sci li
  {
    list-style: none;


  }
  .trailer iframe
  {
    max-width: 90%;
    outline: none;
  }
}
@media(max-width: 1000px){
  .gallery .image{
    width: calc(100% / 2);
  }
}
@media(max-width: 600px){
  .gallery .image{
    width: 100%;
    padding: 4px;
  }
}
